xsd-family.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="membres">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="a">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="history">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="track1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="track2">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="track3">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:date" name="day"/>
                  <xs:attribute type="xs:string" name="mean"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:date" name="birthdate"/>
            <xs:attribute type="xs:short" name="hight"/>
            <xs:attribute type="xs:byte" name="weight"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="c">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="history">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="track1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="track2">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="track3">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:date" name="day"/>
                  <xs:attribute type="xs:string" name="mean"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:date" name="birthdate"/>
            <xs:attribute type="xs:short" name="hight"/>
            <xs:attribute type="xs:byte" name="weight"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="b">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="history">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="track1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="track2">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="track3">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="longitude"/>
                            <xs:attribute type="xs:string" name="latitude"/>
                            <xs:attribute type="xs:time" name="time"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:date" name="day"/>
                  <xs:attribute type="xs:string" name="mean"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:date" name="birthdate"/>
            <xs:attribute type="xs:short" name="hight"/>
            <xs:attribute type="xs:byte" name="weight"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
